<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by Barbara Jean Sanders.
  </p>
  <%= octicon "octoface", :height => 32,  :class => "right left", :"aria-label" => "hi" %>
            <%= octicon "heart"  %>
  <br />  
  <p>
    Building products people want.
  </p>  
</div>

<div class="row">
     <div class="col-12 col-sm-4">
       <%= image_tag 'https://ik.imagekit.io/amor3tud0/mewithflowers_rJqQJht6V.jpg', class: 'img-fluid' %>
     </div>
     <div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text-center">Barbara Jean Sanders</h2>
  <br />
  <p>
    Barbara Jean Sanders is a web developer with a focus on Scrum Product Development.
  </p>
</div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />

